#hero {
    width: 100vw;
    height: auto;
    
}

.btn {
    color: #ffffff;
    background-color: #893F51;
    font-size: 0.5rem;
}
.button-main {
  padding: 10px 20px;
}
body {
    font-family: 'Alice', serif;
  }

.locations-brief {
    background-color: #e6e7e8;
  }


h1 {
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #893F51;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.btn {
  font-size: 1.5rem;
}

p {
  font-size: 1.06rem;
}

.nav-logo {
  margin-left: 2em;
}

.button-main {
  margin-right: 1em;
}




.position-relative {
  position: relative; 
}

.position-absolute {
  position: absolute; 
  top: 50%; 
  left: 75%; 
  transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
}

.cta-locations {
  margin-right: 20px; 
}

.text-center {
  text-align: center; 
}



.stittsville-location-brief {
  padding: 100px;
}

 .kanata-location-brief {
  padding: 100px;
 }

 .kanata-interior {
  padding-left: 125px;
 }

 .meet-the-owners {
  padding: 100px;
 }

 .owners-container {
  margin-bottom: 20px;
 }
.card-jen {
  padding-bottom: 10px;
}

.card-rocky {
  padding-bottom: 10px;
}

.blockquote {
  padding-left: 30px;
  padding-right: 30px;
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-top: -10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.75rem;
    
  }

  .button-main {
    font-size: .75rem;
    padding: .25rem .5rem;
  }
  .button-secondary {
    font-size: 0.5rem;
    padding: .25rem .5rem;
  }
  .h2-main {
    margin-top: -20px;
  }

  .h3-main {
    margin-top: -10px;
  }

  .h4-main {
    margin-top: -5px;
  }
.cta-locations-kanata {
  padding-left: 10px;
}
.cta-locations-stittsville {
  padding-right: 10px;
}

.pricing-cut-and-style {
  flex-direction: column;
  gap: -10px;
}

.pricing-treatments {
  flex-direction: column;
  gap: -10px;
}


.price-image {
  max-width: 200px;
  max-height: 300px;
}

.treatment-image {
  max-width: 200px;
  max-height: 300px;
}

.list-font {
  font-size: 0.9rem !important;
}

.pricing-list-3 {
  padding-left: -100px;
}

.colouring-image {
  padding-left: 25px;
  width: 150px;
}

.pricing-colouring {
  padding-left: -250px !important;
}

.pricing-treatments .row {
  flex-wrap: wrap;
}
.col-sm-5 {
  flex: 0 0 100%;
}
.treatment-image {
  margin-top: 20px;
}

/* .footer-container {
  flex-direction: row;
  gap: 20px;
} */

/* .footer-location {
  flex: 1;
} */
/* .brand-logo {
  width: 75px;
  align-items: center;
  height: auto;
  flex: 0;
 } */
.footer-container {
  flex-direction: column;
  gap: 20px;
}
.footer-location {
  text-align: center;
  gap: 10px;
}
.brand-logo {
 flex: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 10px 0;
}

.brand-logo img {
  width: 100px;
  height: auto;
}
.icon {
  width: 10px;
  height: auto;
  padding-left: 2px;
  padding-right: 2px;
}


}

/* HERO BANNER/CTA */
#hero-pricing {
  background-image: url(../images/royaltyfree/page3/gloves-and-mixed-product.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}


/* HAIRCUTS AND STYLING */
.pricing-cut-and-style {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: space-between;
 gap: 75px;
 margin: 75px auto;
 max-width: 1200px;
}


.pricing-list-1 {
  flex: 1;
  min-width: 300px;
}


.list-font {
  font-size: 1.25rem;
}




/* COLOURING SERVICES */
.pricing-list-3 li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

}

.li {
  padding-bottom: 20px;
}

.list-font li {
  white-space: nowrap;
}
.colouring-image {
  padding-left: 25px;
}

.pricing-colouring {
  margin-left: 50px;
}



/* TREATMENT SERVICES */
.pricing-treatments { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 75px;
    margin: 75px auto;
    max-width: 1200px;
  
}

.pricing-list-4 {
  flex: 1;
  min-width: 300px;
}



/* FOOTER */
footer {
  background-color: #e6e7e8;
  padding: 20px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
}



.footer-location {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #893F51;
  gap: 50px;
}

.stittsville-location {
  text-align: center;
}
.kanata-location {
  text-align: center;
}

.brand-logo {
  flex: 0;
  text-align: center;
}

.brand-logo img {
  width: 275px;
  height: auto;
}
.locations-group p {
  margin: 0 0 5px;
}
.locations-group a img {
  padding-left: 10px;
  padding-right: 10px;
}


.icon {
  width: 62px;
  height: auto;
}